<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Preparation</title>
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <!-- Template CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <script src="static/script.js" type="text/javascript"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{{ url_for('index') }}">SLR<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('preparation') }}">Preparation</a></li>
          <li class="drop-down"><a href="{{ url_for('screening') }}">Screening</a>
            <ul>
              <li><a href="{{ url_for('retrieve') }}">Retrieve</a></li>
              <li><a href="{{ url_for('filter') }}">Filter</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="{{ url_for('execution') }}">Execution</a>
            <ul>
              <li><a href="{{ url_for('assess') }}">Assess Studies</a></li>
              <li><a href="{{ url_for('extraction') }}">Extract Data</a></li>
              <li><a href="{{ url_for('synthesis') }}">Synthesis</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('index') }}">Documentation</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="" class=""></a>

    </div>
  </header><!-- End Header -->

  <div class="jumbotron jumbo">
    <h1 class="display-4 ml-auto text-center jumbo-title">PREPARATION PHASE</h1>
    <hr style="color: #FFE128; height: 10px; width: 800px;" class="mx-auto">
    <h6 class="display-4 ml-auto text-center jumbo-title" style="margin-top: -90px; font-size: 40px">A. PLAN THE REVIEW</h6>
  </div>

  <main id="main">
    <section>
      <div class="container" data-aos="fade-up">

        <!-- <form id="generate_form" action="{{ url_for('gen_string') }}" method="post">
          <div class="form-group">
            <label for="inputTopic">Topic:</label>
            <input type="text" class="form-control" id="inputTopic" name="inputTopic" placeholder="Please input Topic.."
              style="width: 800px;">
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputStartDate">Start Date:</label>

              <select class="custom-select" id="inputStartDate" name="inputStartDate" style="width: 180px;">
                <option selected>Choose...</option>
                <script language="javascript" type="text/javascript">
                  for (var d = 2000; d <= 2021; d++) {
                    document.write("<option value='" + d + "'>" + d + "</option>");
                  }
                </script>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputEndDate">End Date:</label>
              <select class="custom-select" id="inputEndDate" name="inputEndDate" style="width: 180px;">
                <option selected>Choose...</option>
                <script language="javascript" type="text/javascript">
                  for (var d = 2000; d <= 2021; d++) {
                    document.write("<option value='" + d + "'>" + d + "</option>");
                  }
                </script>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputDocType">Document Type:</label>
              <select class="custom-select" id="inputDocType" name="inputDocType" style="width: 180px;">
                <option selected>Choose...</option>
                <option value="All document types">All document types</option>
                <option value="Article">Article</option>
                <option value="Bibliography">Bibliography</option>
                <option value="Book">Book</option>
                <option value="Book Chapter">Book Chapter</option>
                <option value="Review">Review</option>
                </script>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-dark to-click-btn">Generate</button>
        </form> -->

        <div class="section-title">
          <p>1. Objectives</p>
        </div>
        <p style="font-style: italic;">Identification of the need for a review: </p> 
        <p>1. </p>
        <p>2. </p>
        <p>3. </p>

        <br>

        <div class="section-title">
          <p>2. Research Questions</p>
        </div>
        <p style="font-style: italic;">Specifying the research questions to keep the review focused: </p> 
        <p>1. </p>
        <p>2. </p>
        <p>3. </p>

        <br>

        <div class="section-title">
          <p>3. Research Questions</p>
        </div>
        <p style="font-style: italic;">Identifying digital libraries for searching the studies: </p> 
        <p>1. ISI Web of Science (htpps://www.isiknowledge.com)</p>
        <p>2. IEEE Digital Library (https://www.ieeexplore.ieee.org)</p>
        <p>3. Scopus (https://www.scopus.com)</p>
        <p>4. ACM Digital Library (https://dl.acm.org)</p>
        <p>5. ScienceDirect (https://www.sciencedirect.com)</p>

        <br>

        <div class="section-title">
          <p>Keywords</p>
        </div>
        <p style="font-style: italic;">Enter your preffered keywords for searching the studies: </p> 
        <p>1. </p>
        <p>2. </p>

        <br>

        <div class="section-title">
          <p>Synonyms</p>
        </div>
        <p>Click on the button to find synonyms: </p> 
        <a class="btn btn-dark to-click-btn" href="https://www.thesaurus.com" target="_blank" role="button">Find Synonyms</a>

        <br><br><br>

        <div class="section-title">
          <p>Search Strings</p>
        </div>
        <p style="font-style: italic;">Developing search strings with boolean operators: </p> 
        <p>1. </p>
        <p>2. </p>

        <br>

        <div class="section-title">
          <p>4. Selection Criteria</p>
        </div>
        <p style="font-style: italic;">Inform your selection criteria for studies selection </p> 
        <p>1. Paper without full text available</p>
        <p>2. Duplicate publications</p>
        <p>3. Papers not written in English</p>
        <p>4. Studies that do not present any empirical result</p>
        <p>5. Short papers, editorials, and summaries of the keynote, or workshop</p>

        <br>

        <div class="text-right">
            <a class="btn btn-dark next-btn" href="{{ url_for('screening') }}" role="button">Screening Phase</a>
          </div>
      </div>
    </section>
    </div>
    </section>


  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>